*{
    --color-white: hsl(0, 0%, 100%);
    --color-light-grayish-violet: hsl(270, 3%, 87%);
    --color-Dark-grayish-violet: hsl(279, 6%, 55%);
    --color-very-dark-violet: hsl(278, 68%, 11%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}
/* - Mobile: 375px
- Desktop: 1440px
- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%) */

body {
    background-color: var(--color-white);
    max-width: 1440px;
    margin: 18px auto 0 auto;
    font-family: 'Space Grotesk', sans-serif;
}
.container{
    position: relative;
    background: var(--color-white);
}
.picture-card-front{
    position: absolute;
    top: 170px;
    left: 150px;
}

.inside-card-front{
    color: var(--color-white);
}
.inside-card-front img{
    position: absolute;
    top: 25px;
    left: 40px;
}
.line1{
    position: absolute;
    left: 40px;
    bottom: 90px;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 1.3rem;
}
.line2{
    position: absolute;
    left: 40px;
    bottom: 50px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    
}
.line3{
    position: absolute;
    right: 40px;
    bottom: 50px;
    font-size: 0.7rem; 
    letter-spacing: 2px;
}
.picture-card-back{
    position: absolute;
    top:450px;
    left: 250px;
   
}
.picture-card-back span{
    position: absolute;
    color: var(--color-white);
    left: 365px;
    top: 113px;
    font-size: 0.7rem;
    letter-spacing: 1px;
}
.dice{
    position: absolute;
    top: 250px;
    left: 820px;
    
}
.dice h1, h2, h3{
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-dark-grayish-violet);
    
}
.dice input{
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-Dark-grayish-violet);
    color: var(--color-dark-grayish-violet);
    margin-bottom: 25px;
    font-size: 0.9rem;
    
}
#cardholder{
    width: 400px;
    margin-top: 10px;
   
}
#cardnumber{
    width: 400px;
    margin-top: 10px;
}
#mm {
    width: 75px;
   margin-top: 10px;
    
}
#yy{
    width: 75px;
}
#cvc{
    width: 220px;
    margin-left: 20px;
}
.date{
 display: flex;
 gap: 30px;
    
}
#confirm{
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-very-dark-violet);
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 20px;
}

/* thank you */
.submit{
    display: none;
    position: absolute;
    top: 40px;
    text-align: center;
    width: 400px;
    letter-spacing: 1px;
}

.thank-you{
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 10px;

}
.message{
    color: var(--color-Dark-grayish-violet);
    padding: 10px;
    margin-bottom: 20px;
}
#continue{
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-very-dark-violet);
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 20px;
}
.main-mobile{
    display: none;
}
/* mobile */
@media only screen and (max-width: 375px )  {
body { 
    margin: 0;
    max-width: 375px;
    overflow-x: hidden;
}
.main-desktop{
    display: none;
}
.main-mobile{
    position: absolute;
    display: flex;
    width: 130%;
}
.card-back{
    width: 370px;
}
.picture-card-back{
    top:50px;
    left: 97px;
}
.picture-card-back span{
    left: 300px;
    top: 93px;
}
.card-front{
    width: 370px;
}
.picture-card-front{
    top: 165px;
    left: 30px;
}
.inside-card-front img{
    width: 15%;
    top: 25px;
    left: 25px;
}
.line1{
    left: 25px;
    bottom: 60px;
}
.line2{
    left: 25px;
    bottom: 30px;
}
.line3{
    right: 35px;
    bottom: 30px;
}
.dice{
    top: 440px;
    left: 30px;
}
.dice h1, h2, h3{
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.dice input{
    border-radius: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-Dark-grayish-violet);
    color: var(--color-dark-grayish-violet);
    margin-bottom: 25px;
    font-size: 1.3rem;
}
#cardholder{
    width: 430px;
    margin-top: 10px;
}
#cardnumber{
    width: 430px;
    margin-top: 10px;
}
#mm {
    width: 95px;
    margin-top: 10px;
}
#yy{
    width: 95px;
}
#cvc{
    width: 220px;
    margin-left: 10px;
}
.date{
    display: flex;
    gap: 45px;
}
#confirm{
   width: 430px;
   font-size: 1.3rem;
   margin-bottom: 50px;
}
    
/* thank you */
.submit{
    display: none;
    position: absolute;
    top: 40px;
    text-align: center;
    width: 400px;
    letter-spacing: 1px;
}
.thank-you{
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.message{
    color: var(--color-Dark-grayish-violet);
    padding: 10px;
    margin-bottom: 20px;
}
#continue{
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-very-dark-violet);
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 20px;
}
}